body main {
  background-image: url("https://cdn.pixabay.com/photo/2019/08/08/22/51/man-4393964_960_720.jpg");
  /* This image is background image */
  background-repeat: no-repeat;
  background-size: cover;
}

body main .content {
  color: #ffffff;
  padding: 0 50px 0 50px;
  position: absolute;
  top: 50%;
}

body main p {
  width: 500px;
}